:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
  flex-wrap: wrap;
}

.breaker{
  width: 100%;
}

.info{
  padding: 50px 0px;
  width: 70%;
  text-align: center;
  font-size: small;
}
.signup-info {
  width: 70%;
  font-size: small;
  h5{
    text-align: center;
    font-size: smaller;
  }
}

.more {
  width: 70%;
  margin-top: 20px;
  text-align: center;
  a{
    text-decoration: none;
    cursor: pointer;
  }
  span{
    margin-top: 30px;
  }
  .forgetpassword{
    font-size: smaller;
  }
}
.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-checkbox {
  float: left;
  padding-top: 7px;
}
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 720px) {
  .info{
    width: 90%;
  }
  .signup-info{
    width: 90%;
  }
  ul{
    margin-left: -21px;
  }
}
