<header focusOnNavigation class="docs-header-background"
        [class.is-next-version]="isNextVersion" aria-label="Get started" id="homepage-header">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">Ballistica</h1>
      <h2> The BombSquad engine</h2>
    </div>
    <div class="docs-header-start">
      <a mat-raised-button class="docs-button" href="https://github.com/efroemling/ballistica">Login to Web Tools</a>
    </div>
  </div>
</header>

<main class="docs-homepage-promo">
  <div *ngIf="shouldShowTestStuff()" class="docs-introduction">
    Its goal is to support creating one particular type of experience: 'physics based multiplayer action on small diorama-like environments built from real-world objects'. If you've got something you'd like to create that can fit within that box (as BombSquad itself does), give Ballistica a look.
   <br><br>
   <p>Ballistica is built on a C++ core for performance-sensitive code with a Python layer for high level game/app logic. This Python layer is designed to be mucked with. Users can override core game functionality, write their own mini games, or anything else they can dream up, either by directly accessing files on disk or by working through an integrated web-based editor. It can be a fun way to learn Python without the danger of getting useful work done.</p>
  </div>

  <mat-divider *ngIf="shouldShowTestStuff()"></mat-divider>

  <div *ngIf="shouldShowTestStuff()" class="docs-homepage-featured-components docs-homepage-carousel-row" fxHide.xs>
    <div class="docs-homepage-header">
      <h2>Recent Updates</h2>

      <a class="docs-link" href="https://github.com/efroemling/ballistica/wiki">
        More
        <mat-icon>chevron_right</mat-icon>
      </a>
    </div>
    <app-carousel [aria-label]="'Featured components'">
      <a *ngFor="let comp of getNews()" carousel-item
         class="carousel-item docs-featured-components-carousel-item"
         routerLink="/github">
        <div class="docs-homepage-img-container">
        </div>
        <h2>{{comp['title']}}</h2>
        <h5>{{comp['date']}}</h5>
        <p>{{comp['desc'].substring(0,400)}}</p>
      </a>
    </app-carousel>
  </div>

  <mat-divider *ngIf="shouldShowTestStuff()"></mat-divider>

  <!-- <div *ngIf="shouldShowTestStuff()" class="docs-homepage-guides docs-homepage-carousel-row">
    <div class="docs-homepage-header">
      <h2>Guides</h2>

      <a class="docs-link" routerLink="/guides">
        View all guides
        <mat-icon>chevron_right</mat-icon>
      </a>
    </div>
  </div> -->
</main>

<app-support *ngIf="shouldShowTestStuff()"></app-support>

<app-footer></app-footer>
