@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  app-navbar {
    color: mat.get-color-from-palette($primary, default-contrast);

    .ba-toolbar {
      background: mat.get-color-from-palette($primary);
      a{
        color:mat.get-color-from-palette($primary, default-contrast);
      }
      & a:hover, & a:focus {
        color: mat.get-color-from-palette($primary, 200);
      }
    }
    button {
      background-color:  mat.get-color-from-palette($background,200);
    }
  }
}
