
mat-toolbar{
  border-radius: 3px;
  a{
    text-decoration: none;
    font-size:medium;
    font-weight: 400;
    cursor: pointer;
  }
  .logo{
    display: flex;
    img{
      height: 35px;
      padding-top: 9px;
    }
    a{ padding-top: 10px; font-size: larger;}
  }
  .navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      margin-right: 20px;
    }
    img{
      padding-top: 8px;
    }
    .account{
      font-size: small;
      border: 1px solid;
      border-radius: 5px;
      padding: 0px 4px;
      cursor: pointer;
    }
  }
  button {
    all:unset;
    margin-right: 10px;
    background-color: rgba($color: #000000, $alpha: 0);
  }
  mat-icon{
    padding-top: 19px;
  }
}

@media(max-width: 959px){
  mat-toolbar{
      border-radius: 0px;
  }
}
